#define AP_SSID "CHANGE_THIS_AP_SSID"
#define AP_PASS "CHANGE_THIS_AP_PASS"
#define OTA_NAME "CHANGE_THIS_NAME"
#define OTA_PASS "CHANGE_THIS_PASS"

#define TWITTER_CONSUMER_KEY "CHANGE_THIS"
#define TWITTER_CONSUMER_SEC "CHANGE_THIS"
#define TWITTER_ACCESS_TOKEN "CHANGE_THIS"
#define TWITTER_ACCESS_TOKEN_SEC "CHANGE_THIS"

#define TWITTER_ACCOUNT "frigo2naitre"

